---
import Navbar from "../../components/Navbar.astro"
import Layout from "../../layout/Layout.astro"


---

<Layout title="Personal">
    <Navbar />
  <div class="mx-auto lg:max-w-screen-lg mt-4">
    <h1 class="font-bold text-2xl mb-4">Personal</h1>
    <p>
      Esta sección	es para crear un nuevo personal de la biblioteca.
    </p>
  </div>
</Layout>
