---

import Navbar from "../../components/Navbar.astro"
import Title from "../../components/Title"
import Layout from "../../layout/Layout.astro"
import AddLoan from "../../components/AddLoan"
import LoanChart from "../../components/LoanChart"
import LoanList from "../../components/LoanList"
import LoanDateChartFacultad from "../../components/LoanDateChartFacultad"
import LoanDateChartPrestamos from "../../components/LoanDateChartPrestamos"
import LoanPerCategory from "../../components/LoanPerCategory"

---

<Layout title="Préstamos">
    <Navbar />
    <div class="mx-auto max-w-screen-xl mt-8 mb-10">
        <Title title={"Gestión de Préstamos"} />
        <div class="grid grid-cols-12 gap-5">
            <AddLoan client:load />
            <LoanChart client:load />
            <LoanList />
            <LoanDateChartFacultad client:load />
            <LoanDateChartPrestamos client:load />
            <!-- <LoanPerCategory client:load /> -->
        </div>
    </div>
</Layout>